MileSharing/.idea/workspace.xml
MileSharing/MileSharing.iml
MileSharing/bin/classes/MileSharing.apk
MileSharing/bin/classes/android/support/v7/appcompat/BuildConfig.class
MileSharing/bin/classes/com/google/android/gms/BuildConfig.class
MileSharing/bin/classes/com/soloway/transport/milesharing/BuildConfig.class
MileSharing/classes/production/appcompat_v7/android/support/v7/appcompat/BuildConfig.class
MileSharing/classes/production/google-play-services_lib/com/google/android/gms/BuildConfig.class
